/.cache
/.config
/.ssh
/.vscode-remote-containers
/.vscode-server
/logs
.viminfo
/dags/files_capital_cronicos/*.*
/dags/files_compensardomi/*.*
/dags/files_famisanar/*.*
/dags/files_gestion_financiera/*.*
/dags/files_malla_terapias/*.*
/dags/files_n10_directivo/*.*
/dags/files_oportunidad/*.*
/dags/files_pipeline/*.*
/dags/files_pqrs/*.*
/dags/files_rcv/*.*
/dags/files_rotacion_personas/*.*
/dags/files_satisfacciongral/*.*
/dags/files_segmentacion/*.*
/dags/generated_files/*.*